
// CSS GLOBALS
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-weight:500;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{

    h1{
        color:#ffff;
    }

    padding:15px 0;
    background:hsl(195, 100%, 30%);

    .flex{
        justify-content:space-between;
        flex-wrap:wrap;
       
    }
    ul{
        display:flex;
        

        li{
            padding:0 20px;

            a{
                color:#ffff;
                

                &:hover{
                    border-bottom:2px solid orange;
                    cursor:pointer;
                    padding-bottom:7px;
                }
            }
            
        }
    }
}

//----- hero section ------//

.hero{
    background:hsl(195, 100%, 30%);
    
    .row-hero{
        padding:50px 0;
    }

    h1{
        font-size:50px;
        line-height:60px;
        font-weight:600;
        color:#ffff;

        span{
            display: block;
        }
    }
    p{
        font-size: 20px;
        font-weight: 600;
    }
}


//--------- showcase section --------------//

.showcase{
    background:rgb(250, 245, 226);
    padding:70px 0;

    .showcase-title{
        text-align:center;
        padding-bottom:30px;
    }
}

.shower{
    background:#f4f4f4;
    padding:50px 0;
}




















//----------- MEDIA QUERIES -----------//

//--------- small screen-- phones------------ //
@media only screen and (max-width:600px){
    .navbar{
        .flex{
            flex-direction:column;
        }
        ul{
            padding:25px 0 0 0;
        }
    }
    .hero{
        .row{
            flex-direction: column-reverse;

            &:first-child{
                text-align: center;
                line-height:1.6;
            }
        }
    }

    .shower .row{
        flex-direction:column;
    }
    
}

