.container{
    max-width: 1300px;
    margin:0 auto;
    padding:0 25px;
}
.sm-container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 25px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.row{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}

.col-2{
    flex-basis:50%;
    min-width:300px;

   img{
       max-width:100%;
       padding:20px 0;
   }
}

.col-3{
    flex-basis:30%;
    min-width:250px;
    padding:0 5px;

    img{
        max-width:100%;
    }
}

.text-center{
    text-align: center;
}

.card{
    background:rgb(221, 217, 217);
    color:#333;
    padding:20px;
    margin:10px;
    box-shadow:2px 1px 1px #0000;
}

.col-12{
    flex-basis:100%;
}
.col-9{
    flex-basis:70%;
}

.btn{
    display: inline-block;
    color:#f4f4f4;
    padding:10px 30px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.btn:hover{
    background:rgb(21, 21, 194);
}
.btn-dark{
    background:rgb(8, 8, 146);
}





