@import "utilities";


html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    
    box-sizing:inherit;
}
  
@media only screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

body{
    line-height:1.6;
    padding:0;
    margin:0;
    font-family: jokerman;
    background: rgb(66, 9, 66);


}

a{
    text-decoration: none;
}


//---------------SECTION 1-----------------//
.section-1{
    display:grid;
    grid-template-areas: 
    "h h c1"
    "h h c2";
    grid-gap:1.25rem;
    grid-template-rows: repeat(2, 12.5rem);
}
.hero-section{
    grid-area: h;
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("/pics/pexels-pixabay-38519.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    
    &:hover{
        background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/pics/pexels-pixabay-38519.jpg");
        background-position: center;
        background-size: cover;
        cursor:pointer;
    }
    


    h3,
    p{
        background:rgb(216, 214, 208);
        margin:.625rem;
        padding:.4375rem;
    }
    h3{
        font-family:jokerman;
    }

    display: flex;
    padding:1.875rem;
    flex-direction:column;
    align-items:start;
    justify-content: center;
}
.box{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;

    h3{
        font-weight:300;
        font-size:2.375rem;
    }
    p{
        font-style: italic;
    }
}
.price-1{
    grid-area: c1;
}
.price-2{
    grid-area: c2;
}
.price-1,
.price-2{
    background:rgb(248, 193, 10);
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    
    &:hover{
        box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.6);
        cursor:pointer;
    }
}



//----------------------section-1 MEDIA QUERIES------------------//
@media only screen and (max-width:600px){
    .section-1{
        grid-template-areas: 
        "h h"
        "c1 c2";  
       grid-template-rows: 25rem 12.5rem; 
         
    }
}
@media only screen and (max-width:350px){
    .section-1{
        grid-template-areas: 
        "h"
        "c1"
        "c2";  
       grid-template-rows: 25rem 12.5rem; 
       grid-auto-rows:12.5rem;
    }
    .hero-section{
        align-items:center;
        text-align:center;
    }
}
//-----------END OF MEDIA QUERIES-----------//



//--------------section2---------------//

.section-2{
    padding:1.875rem 0;

    .boxes{
        background:rgb(248, 193, 10);
        margin:.1875rem;
        padding:15px;
    }

    .section-2-wrapper{
       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .boxes{
            text-align:center;
            font-weight:bold;
            box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
            flex-basis:17%;
            min-width:11.875rem;

            &:hover{
                box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.6);
                cursor:pointer;
            }
        }
    }
}


//-------section3------------//
.section-3{
    padding:3.125rem 0;

    i.fas{
        font-size: 2.5rem;
    }
    .card{
        flex-basis:20%;
        min-width:13.75rem;
    }
}
.section-3-wrapper{
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.25rem;
}



//-----------section4--------------//

.section-4{
    padding:3.75rem 0;
    color:#ffff;
}
.section-4-wrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(45%, 1fr));
    align-items:center;
    grid-gap:1.25rem;
    padding:0 auto;
    
    

    img{
        justify-self:end;
    }
   .section-4-content{
       justify-self:center;
       
       h3{
           font-size:2.0625rem;
           text-shadow: .125rem .125rem .1875rem #000000;
       }
       p{
           font-size: 1rem;
       }
   }

}

@media only screen and (max-width:600px){
    .section-4-wrapper{
        grid-template-columns: 100%;
        grid-template-rows: 100%;

        .section-4-content{
            margin-top:1.25rem;
            text-align: center;
        }
    }
}


//---------section5----------//

.section5{
    padding:5rem 0;
}

.section-5-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    justify-content: center;

    img{
        &:hover{
            transform: scale(1.1);
            cursor:pointer;
        }
    }
}
.section-5-header{
    text-align:center;
    margin:1.25rem 0;
    font-family:jokerman; 
    font-size: 1.875rem;
    letter-spacing: .0625rem;
    color:#f4f4f4;
    text-shadow: .125rem .125rem .1875rem #000000;


    &::after{
        content: '';
        background: rgb(235, 197, 240);
        margin-left: auto;
        margin-right: auto;
        width: 9.375rem;
        height: .3125rem;
        display: block;
        transform: translateY(.4375rem);
    }
}


.footer{
    display:flex;
    justify-content: center;
    margin-top:2.5rem;
    color:whitesmoke;
    font-size:1.0625rem;
    
    .love{
        color:red;
        display:flex;
        align-items: center;
        margin:0 .25rem;
    }
}


//-------scroll to top btn---------//
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 3.125rem; 
    left:70%; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(52, 3, 75); 
    color: white; 
    cursor: pointer; 
    padding: .9375rem; 
    border-radius: .625rem; 
    font-size: 1.125rem; 
}

#myBtn:hover {
    background-color: rgb(30, 9, 34); 
}