*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  line-height: 1.6;
  font-family: jokerman;
}

a {
  text-decoration: none;
}

.section-1 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h c1" "h h c2";
  grid-gap: 20px;
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
}

.hero-section {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../pics/pexels-pixabay-38519.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../pics/pexels-pixabay-38519.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../pics/pexels-pixabay-38519.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../pics/pexels-pixabay-38519.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.hero-section h3,
.hero-section p {
  background: #d8d6d0;
  margin: 10px;
  padding: 7px;
}

.hero-section h3 {
  font-family: jokerman;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box h3 {
  font-weight: 300;
  font-size: 38px;
}

.box p {
  font-style: italic;
}

.price-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c1;
}

.price-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c2;
}

.price-1,
.price-2 {
  background: #f8c10a;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-1:hover,
.price-2:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .section-1 {
        grid-template-areas: "h h" "c1 c2";
    -ms-grid-rows: 400px 200px;
        grid-template-rows: 400px 200px;
  }
}

@media only screen and (max-width: 350px) {
  .section-1 {
        grid-template-areas: "h" "c1" "c2";
    -ms-grid-rows: 400px 200px;
        grid-template-rows: 400px 200px;
    grid-auto-rows: 200px;
  }
  .hero-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.section-2 {
  padding: 30px 0;
}

.section-2 .boxes {
  background: #f8c10a;
  margin: 3px;
  padding: 15px;
}

.section-2 .section-2-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.section-2 .section-2-wrapper .boxes {
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-2 .section-2-wrapper .boxes:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.section-3 {
  padding: 30px 0;
}

.section-3 i.fas {
  font-size: 40px;
}

.section-3-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.section-4 {
  padding: 20px 0;
  color: #ffff;
}

.section-4-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 auto;
}

.section-4-wrapper img {
  -ms-grid-column-align: end;
      justify-self: end;
}

.section-4-wrapper .section-4-content {
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-4-wrapper .section-4-content h3 {
  font-size: 33px;
  text-shadow: 2px 2px 3px #000000;
}

.section-4-wrapper .section-4-content p {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .section-4-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .section-4-wrapper .section-4-content {
    margin-top: 20px;
    text-align: center;
  }
}

.section5 {
  padding: 80px 0;
}

.section-5-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-5-header {
  text-align: center;
  margin: 20px 0;
  font-family: jokerman;
  font-size: 30px;
  letter-spacing: 1px;
  color: #f4f4f4;
  text-shadow: 2px 2px 3px #000000;
}

.section-5-header::after {
  content: '';
  background: #ebc5f0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 5px;
  display: block;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  color: black;
}

.footer .love {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 70%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #34034b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #1e0922;
}
/*# sourceMappingURL=part.css.map */